<%- include('../adminViews/templatesAD/headerAD') %>

<body>

    <main>
        <div>
            <p class="admWebTitle centerText">SERVICES ADMINISTRATOR</p>
            <p class="admWebTitle centerText">AUTHORIZED ONLY</p>
        </div>
        <%- include('../adminViews/templatesAD/navAD') %>
        <div>
            <a class="anchorBtn" href="/admin/services/form">Create new service</a>
        </div>
        <table class="centerText">
            <thead>
                <tr>
                    <th>Services</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <% if (services.length > 0) { %>
                    <% services.forEach(item => { %>
                        <tr>
                            <td><%=item.service%></td>
                            <td><%=item.description%></td>
                            <td><a class="anchorBtn" href="/admin/services/update-service-form/<%= item._id %>">Update</a></td>
                            <td><a class="anchorBtn" href="/admin/services/delete-service/<%= item._id %>">Delete</a></td>
                        </tr>
                    <% }) %>
                    <% } else { %>
                     <tr>
                        <td>No services to show, kiddo</td>
                     </tr>
                <% } %>
            </tbody>
        </table>
    </main>

</body>

<%- include('../adminViews/templatesAD/footerAD') %>