<%- include('../adminViews/templatesAD/headerAD') %>


<section>
    <% if (serviceFound!=undefined) { %>
     <form class="adminForm" method="post" action="/admin/services/update-service/<%=serviceFound._id%>">
        <div>
            <input type="text" name="service" id="service" value="<%=serviceFound.service%>">
        </div>
        <div>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter a service description.."><%=serviceFound.description%></textarea>
        </div>
        <input class="generalBtn" type="submit" value="Update Service">
    </form>
    <% } else { %>
     <p>Service serviceFound es undefined</p>
    <% } %>
    
</section>

<!-- la acción es la URL -->

<%- include('../adminViews/templatesAD/footerAD') %>